ul {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 6px;
  border-bottom: 1px #bcbcbc solid;
  overflow: hidden;
}

ul li:last-child {
  border-bottom: 0;
}

ul li h3 {
  margin: 0;
  padding: 3px 0;

  color: #424242;
}

ul li p {
  margin: 0;
  padding: 3px 0;

  color: #797979;
}
