ul {
  list-style: none;
  padding: 0 0 0 0;
  margin: 0;

  /*background: linear-gradient(to top, #bcbcbc 0px, #bcbcbc 1px, white 1px, white);*/
  /*background-size: 100% 87px;*/
}

ul li {
  margin: 0;
  padding: 0;
  background: white;
  border-bottom: 1px #bcbcbc solid;
  overflow: hidden;
}

ul li h3 {
  margin: 0;
  padding: 9px 6px 3px 6px;
  background: white;

  color: #424242;

  pointer-events: none;
}

ul li p {
  margin: 0;
  padding: 3px 6px 10px 6px;
  background: white;

  color: #797979;

  pointer-events: none;
}
